.class-autocomplete--wrapper {
  display: flex;
  flex-direction: column;
}

.class-autocomplete--loading-indicator {
  font-size: 12px;
  margin-bottom: 15px;
}

.class-autocomplete--label {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-yale-blue);
  padding-bottom: 10px;
}

.class-autocomplete--results-list {
}
