/* TODO: Layout needs to be improved, because currently it's changing its position depending on list length */
.class-autocomplete--wrapper {
  display: flex;
  flex-direction: column;
}

.class-autocomplete--notification {
  font-size: 12px;
  margin-bottom: 15px;
}

.class-autocomplete--label {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-yale-blue);
  padding-bottom: 10px;
}

.class-autocomplete--input {
  border: 3px solid var(--color-wild-blue);
  border-radius: 6px;
  height: 25px;
}

.class-autocomplete--input:active,
.class-autocomplete--input:focus {
  outline: none;
  border-color: var(--color-yale-blue);
}

/* TODO: List still needs some improvements in terms of styles */
.class-autocomplete--results-list {
  padding-left: 0;
  list-style: none;
  border-radius: 6px;
}

.class-autocomplete--results-list-item {
  border: 1px solid var(--color-wild-blue);
  font-size: 14px;
}

.class-autocomplete--results-list-item:hover {
  cursor: pointer;
  background-color: var(--color-wild-blue);
}

.class-autocomplete--button {
  margin-top: 10px;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  background-color: var(--color-yale-blue);
  height: 40px;
}
