:root {
  /* Color scheme taken from: https://coolors.co/909cc2-084887-f58a07-f9ab55-f7f5fb It's a great generator! */
  --color-wild-blue: #909cc2;
  --color-yale-blue: #084887;
  --color-dark-orange: #f58a07;
  --color-rajah: #f9ab55;
  --color-ghost-white: #f7f5fb;
}

body {
  box-sizing: border-box;
}

.app-container {
  background-color: var(--color-ghost-white);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
